
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    padding: 1ex;
}

input[type="text"], button {
    display: block;
    padding: 3px;
    margin-bottom: 1ex;
    width: 100%;
}
