
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    width: 360px;
    min-height: 50px;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
}
.tracking-dropdown-hide {
    height: 290px;
}
.tracking-dropdown-show {
    height: 500px;
}

section {
    margin: 14px;
}
h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}
.label {
    display: block;
    padding: 1em 0 1ex;
}

.choices {
    margin: 0 2ex 0 0;
}
.choices.disabled {
    opacity: 0.8;
}
.choices__inner {
    background: white;
}
.choices__inner.one-line {
    min-height: auto;
}
.choices__list--dropdown.is-active {
    overflow: visible;
}

.timetracking-input__input {
    display: block;
    width: 100%;
    padding: 7.5px;
    height: 44px;
    line-height: 44px;
}

#page-error {
    color: red;
}
#error-message {
    color: gray;
    font-size: 12px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#page-loading {
    height: 2em;
}

.btn {
    height: 44px;
    line-height: 44px;
    display: block;
    margin-top: 1em;
    width: 100%;
    border: 0;
}
.btn-success {
    background: #4db07a;
    color: white;
}
.btn-warning {
    background: orange;
    color: white;
}
.btn-primary {
    background: #119ee0;
    color: white;
}
.btn-link {
    border-color: transparent;
    background: transparent;
    text-decoration: underline;
    margin-top: 0;
    height: 0.9em;
    font-size: 0.8em;
    color: #999;
}

.hide {
    display: none !important;
}

.controls {
    padding: 11px 11px 0 0;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    right: 0;
}
.controls img {
    display: inline-block;
    padding: 3px;
    opacity: 0.2;
}
.controls img:hover {
    opacity: 1;
    cursor: pointer;
}

.timesheet-task-search__client, .timesheet-task-search__activity-task {
    color: gray;
}

.save--enabled [data-mode="save"] { display: block; }
.save--enabled [data-mode="start"] { display: none; }
.save--disabled [data-mode="save"] { display: none; }
.save--disabled [data-mode="start"] { display: block; }

.row > div { display: inline-block; }
.col-sm-6 { width: 50%; }
